.recipe-title-and-favorite input{
    width: 100%;
}

.recipe-info input{
    width: 100%;
}

.recipe-type-box, .recipe-type-add {
    width: fit-content;
}

.recipe-description input{
    width: 100%;
}

.edit-recipes-bottom {
    display: flex;
    flex-direction: row;
}

.recipe-info {
    display: flex;
    flex-direction: row;
}


@media (max-width: 1000px) {
    .edit-recipes-bottom {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .recipe-info {
        flex-direction: column;
    }
}