

.edit-recipe-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.edit-recipe-type .box {
    max-width: 90%;
    width: 450px;
    padding: 45px 55px;
}

.recipe-type-name{
    width: 100%;
}

.recipe-type-name input {
    width: 100%;
    /* background-color: #C08332;
    color: #ffff; */
}

.type-select-color {
    justify-content: space-between;
    width: 100%;
}

.color-select {
    width: 50%;
}

.type-select-color input{
    width: 100%;
}

.time-select input, .time-select{
    width: 100%;
    text-align: center;
    align-content: center;
}

.delete-icon {
    justify-content: flex-start;
    width: 100%;
}

.save-button {
    width: 100%;
}
.save-button button{
    padding: 5px 50px;
    width: 100%;
}