* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: 'Figtree', sans-serif;
    font-size: 1.2rem;
}

.white {
    color: white;
}

.superbold {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.big {
    font-size: 1.5rem;
}

.very-big {
    font-size: 2.5rem;
}

.small {
    font-size: 1rem;
}

.supersmall {
    font-size: 0.9rem;
}

.green {
    color: #5C5E22;
}

.yellow {
    color: #C08332;
}

.chocolate-brown {
    color: #462404;
}

.info {
    text-decoration: none;
    color: gray;
    text-align: center;
}

.margin_zero {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.big-title {
    font-size: 3.0rem;
    line-height: 1.3;
    padding: 120px 0px;
    
}

.justify {
    text-align: justify;
}