main {
    padding: 130px 5% 40px 5%;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    
    flex-wrap: wrap;
}

#profile > .box {
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
}

#profile > .box > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: calc(100% - 400px);
    padding: 2% 3%;
}

.main-img {
    height: 400px;
    width: 400px;

    object-fit: cover;
}

.show-box {
    display: flex;
    height: fit-content;
}

#profile form {
    flex-direction: row;
    height: max-content;
    align-self: center;
}


@media (max-width: 991px) {
    #profile .box {
        flex-direction: column;
        height: max-content;
        width: 85%;
        align-self: center;
    }

    #profile form {
        flex-direction: column;
        height: max-content;
        align-self: center;
    }

    .main-img {
        width: 100%;
        max-height: 40vh;
    }

    #profile > .box > div {
        width: 100%;
        min-height: 400px;
    }

    .show-box {
        flex-direction: column;
        gap: 25px;
    }
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #5C5E22;
    padding: 10px;
    

    overflow: hidden;
}

.profile {
    flex-direction: row;
    height: 175px;
    justify-content: flex-start;
    padding: 0;
}

.profile-img {
    object-fit: cover;
    width: 40%;
    height: 100%;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile > .profile-text {
    justify-content: space-between;
    height: 100%;
    width: 60%;
    padding: 10px 20px;
}

aside {
    display: flex;
    flex-direction: column;
    
    width: 400px;
    max-width: 100%;
    gap: 25px;
}

article {
    min-width:min-content;
    width: calc(100% - 400px - 35px);
    height: fit-content;
    gap: 25px;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.button {
    height: 30px;
}

.followers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 7px;
    height: auto;
    padding-bottom: 3px;
}

.followers img {
    height: 90%;
}

.date-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    height: auto;
}

.date-header a {
    height: 90%;
}

.date-header a img {
    height: 100%;
}

.meal {
    width: fit-content;
    background-color: #C08332;
    border-radius: 5px;
    padding: 0 10px;

    height: max-content;
}

.gap  {
    gap: 15px;
}

.sec {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipes-link {
    display: flex;
    gap: 5px;
}

aside form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

aside form a{
    height: 45px;
    padding: 0;
}
aside form a img{
    height: 100%;
}

aside form input {
    background-image: url('/img/search-icon.png'); /* Caminho para a imagem da lupa */
    background-repeat: no-repeat;
    background-position: right center; /* Posiciona a lupa à direita e centralizada verticalmente */
    background-size: contain;
}

.recipe {
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;

    padding: 0;
}

.recipe-text {
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;

    gap: 5px;
}

.recipe-text button {
    background-color: transparent;
    height: fit-content;
    width: fit-content;
}

.recipe-text button img {
    height: 30px;
}


.favorite {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.recipe-img {
    height: 40%;
    width: 100%;

    object-fit: cover;
}

.recipe-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

.icon-info {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 5px;
}

.icon-info img{
    height: 1.5rem;
}


.rows {
    gap: 6px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-more {
    position: fixed;

    bottom: 30px;
    right: 30px;
}

.button-more img {
    height: 70px;
}
