.header {
    background-image: url("../img/header-img.png");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: fit-content;

    z-index: 100;

    padding: 1% 2%;

    box-shadow: 0 5px 5px rgba(70, 36, 4, 0.3);
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-toggler {
    border: 2px solid #462404;

    height: 100%;
    padding: 1%;

    align-self: center;
}