:root {
    --body-bg: #fafafa;
    --body-color: #462404;
    --box-bg-color: #fafafa;
    --box-border-color: #5C5E22;
    --icons-brightness: brightness(100%);
    --icons-saturation: saturate(100%);
    --day-off-color: #DBCBBC;
}

.dark-mode:root {
    --body-bg: #161515;
    --body-color: #DBCBBC;
    --box-bg-color: #2B2727;
    --box-border-color: #3E4018;
    --icons-brightness: brightness(400%);
    --icons-saturation: saturate(40%);
    --day-off-color: #161515;
}

.icon-color {
    filter: var(--icons-brightness) var(--icons-saturation);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.hover:hover {
    scale: 1.05;
}

.smallerhover:hover {
    scale: 1.025;
}

/* background colors */

.bg-yellow {
    background-color: #C08332;
}

.bg-green {
    background-color: #5C5E22;
}

.bg-brown {
    background-color: #462404;
}

.no-decoration {
    text-decoration: none;
}

.decoration-brown {
    text-decoration-color: #462404;
}

.decoration-text {
    text-decoration-color: var(--body-color);
}

/* format */

.margin-zero {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.padding-zero {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.padding-3 {
    padding: 3%;
}

/* height */

.height-100 {
    height: 100%;
}

.height-65 {
    height: 65%;
}

.height-35 {
    height: 35%;
}

.height-fit {
    height: fit-content;
}

.height-min {
    height: min-content;
}

.height-vh {
    height: 100vh;
}

.height-max{
    max-height: fit-content;
}

/* width */

.width-100 {
    width: 100%;
}

.width-70 {
    width: 100%;
}

.width-65 {
    width: 65%;
}

.width-50 {
    width: 50%;
}

.width-35 {
    width: 35%;
}

.width-15 {
    width: 15%;
}

.width-10 {
    width: 10%;
}

.width-5 {
    width: 5%;
}

.width-50px {
    width: 50px;
}

.width-calc {
    width: calc(100% - 20px - 50px);
}

.width-max {
    width: max-content;
}
.width-fit {
    width: fit-content;
}

.third {
    width: 32%;
}

.half {
    width: 47.5%;
}

.max-width {
    max-width: 100%;
}

/* format */

.fit-contain {
    object-fit: contain;
}

.space-between {
    justify-content: space-between;
}

/* display flex */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

/* gap */

.gap-0 {
    gap: 0;
}

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

.gap-30{
    gap: 30px;
}

.gap-40{
    gap: 40px;
}

.gap-50{
    gap: 50px;
}