.recipes-box {
    display: flex;
    flex-direction: column;
    

    border-radius: 20px;
    border: 2px solid #5C5E22;

    padding: 45px;

    flex-wrap: wrap;
}

.view-recipes-username {
    align-items: center;
}

.view-recipes-profile-img {
    object-fit: cover;
    border: 2px solid #5C5E22;

    width: 100px;
    height: 100px;
}

.view-recipes-top {
    justify-content: center;

    width: 100%;
    gap: 3%;
}

.view-recipes-header {
    width: 35%;
}

.view-recipes-content {
    width: 65%;
    text-align: justify;

}

.recipe-title-and-favorite {
    justify-content: space-between;
}

.recipes-img {
    width: 100%;

    height: 300px;

    object-fit: cover;
    border-radius: 10px;
}

.recipes-ingredients-title {
    align-items: center;
}

.view-recipes-bottom {
    justify-content: center;
    text-align: justify;

    width: 100%;
    gap: 3%;
}

.view-recipes-ingredients{
    width: 35%;
}

.view-recipes-steps {
    min-width: 65%;
}

.view-recipes-button {
    display: flex;
    justify-content: flex-end;
}

.edit-button {
    width: fit-content;
}

.edit-button button{
    padding: 5px 50px;
}
