<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font_style.css">
    <link rel="stylesheet" type="text/css" href="css/sign_style.css">
    <title>Entrar</title>
</head>

<body>
    <a href="/"><img src="/img/arrow-back.png" class="back"></a>
    <div class="bg-img sign">
        <div class="container">
            <span class="font superbold big green">ENTRAR</span>
            <form>
                <input type="text" placeholder="E-mail ou usuário" required>
                <div>
                    <input type="text" placeholder="Senha" required>
                    <a class="font yellow small bold" href="">Esqueceu sua senha?</a>
                </div>
                <button type="submit">Entrar</button>
            </form>
        </div>

    </div>
</body>

</html>