<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font_style.css">
    <link rel="stylesheet" type="text/css" href="css/icon_style.css">
    <link rel="stylesheet" type="text/css" href="css/nav_bar_style.css">
    <link rel="stylesheet" type="text/css" href="css/home_style.css">
    <link rel="stylesheet" type="text/css" href="css/sign_style.css">
    <link rel="stylesheet" type="text/css" href="css/profile_style.css">
    <link rel="stylesheet" type="text/css" href="css/display_flex_style.css">


    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/profile_style.css">
    <link rel="stylesheet" type="text/css" href="css/header_style.css">

    <title>Home page</title>
</head>

<body>
    <header>
        <nav class="header navbar navbar-expand-lg">
            <div class="container-fluid padding-zero">
                <div class="menu">
                    <a class="padding-zero margin-zero" href="/home"><img src="img/logo-white-green.png"
                            class="logo-icon"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <span class="center">
                    <div class="collapse navbar-collapse center" id="navbarContent" style="">
                        <ul class="flex-row gap-20 padding-zero margin-zero">
                            <li class="center">
                                <a class="font chocolate-brown superbold no-decoration" href="/"><span>Sair</span></a>
                            </li>
                            <li class="center">
                                <img src="img/icon-dark-mode-black.png">
                            </li>
                        </ul>
                    </div>
                </span>
            </div>
        </nav>
    </header>
    <main class="min-100vh gap-30" id="profile">
        <div class="box width-100 padding-zero">
            <img class="main-img" src="/img/maria-c.jpg">
            <div>
                <div class="flex-column">
                    <span class="font chocolate-brown superbold very-big">Maria Carolina Bevervanso</span>
                    <span class="font yellow">@Mariasina</span>
                </div>

                <span class="chocolate-brown font bold">Programadora iniciante buscando novas oportunidades e projetos
                    para criar coisas novas.</span>

                <div class="flex-column">
                    <span class="font green ">Idade: 19 anos</span>
                    <span class="font green ">E-mail: carolbeveer@gmail.com</span>
                </div>

                <div class="gap-20">
                    <div class="flex-row gap-10 width-100 flex-start">
                        <img class="icon-font fit-contain" src="/img/people-icon.png">
                        <span class="font chocolate-brown width-100">503 seguidores</span>
                    </div>
                    <button class="width-100">Editar</button>
                </div>
            </div>
        </div>
        
        <div class="space-between flex-wrap show-box" id="main-info">
            <div class="box third gap-20 space-between">
                <span class="font chocolate-brown superbold big width-100">Meus tipos de receitas</span>
                <div class="flex-row width-100 gap-10 flex-start flex-wrap">
                    <div class="meal font supersmall white bold half center">Café da manhã</div>
                </div>
                <button class="width-100 bg-yellow">Editar</button>
            </div>
            <div class="box third gap-20 space-between">
                <span class="font chocolate-brown superbold big width-100">Minhas refeições</span>
                <div class="flex-row width-100 gap-10 flex-start flex-wrap">
                    <div class="meal font supersmall white bold half center">Café da manhã</div>
                    <div class="meal font supersmall white bold half center">Café da manhã</div>
                    <div class="meal font supersmall white bold half center">Café da manhã</div>
                </div>
                <button class="width-100 bg-yellow">Editar</button>
            </div>
            <div class="box third flex-colum space-betweenn gap-10">
                <div class="width-max height-100 center flex-column max-width">
                    <div class="flex-row gap-10 flex-start height-min width-100">
                        <img src="/img/trophy-icon.png" class="trophy">
                        <div class="flex-column height-fit">
                            <span class="font bold small">Sua receita mais consumida no último mês</span>
                            <a href="" class="font bold yellow small">Pizza de queijo</a>
                        </div>
                    </div>
                    <div class="flex-row gap-10 flex-start height-min width-100">
                        <img src="/img/trophy-icon.png" class="trophy">
                        <div class="flex-column height-fit">
                            <span class="font bold small">Sua refeição mais consumida no último mês</span>
                            <a href="" class="font bold yellow small">Pizza de queijo</a>
                        </div>
                    </div>
                    <div class="flex-row gap-10 flex-start height-min width-100">
                        <img src="/img/trophy-icon.png" class="trophy">
                        <div class="flex-column height-fit">
                            <span class="font bold small">Seu tipo mais consumida no último mês</span>
                            <a href="" class="font bold yellow small">Pizza de queijo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>