<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font_style.css">
    <link rel="stylesheet" type="text/css" href="css/icon_style.css">
    <link rel="stylesheet" type="text/css" href="css/nav_bar_style.css">
    <link rel="stylesheet" type="text/css" href="css/home_style.css">
    <link rel="stylesheet" type="text/css" href="css/view_recipes_style.css">
    <link rel="stylesheet" type="text/css" href="css/small_box_style.css">
    <link rel="stylesheet" type="text/css" href="css/display_flex_style.css">
    <link rel="stylesheet" type="text/css" href="css/sign_style.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Document</title>
</head>

<body>
    <header>
        <nav class="header navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="menu">
                    <a class="navbar-brand" href="/"><img src="img/logo-white-green.png" class="logo-icon"></a>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link font white" href="/login"><b> </b></a>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <span class="navbar-text">
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav">
                            <li class="nav-item font chocolate-brown">
                                <a class="nav-link" href="/login"><b>Sair</b></a>
                            </li>
                            <li class="nav-item">
                                <img src="img/icon-dark-mode-black.png" class="icon nav-link">
                            </li>
                        </ul>
                    </div>
                </span>
            </div>
        </nav>
    </header>
    <main>
        <div class="recipes-box gap-40">
            <div class="view-recipes-top flex-row">
                <div class="view-recipes-header flex-column gap-30">
                    <div class="flex-row gap-30">
                        <img class="view-recipes-profile-img rounded-circle" src="img/maria-c.jpg">
                        <div class="flex-column">
                            <div class="view-recipes-username flex-row gap-20">
                                <span class="font chocolate-brown bold big">Maria Carolina Bevervanso </span>
                                <span class="font yellow bold">@Mariasina</span>
                            </div>
                            <span class="font small green">5 receitas</span>
                            <span class="font small bold"><img src="img/icon-private.png"> receita privada</span>
                        </div>
                    </div>
                    <div class="flex-column">
                        <img class="recipes-img" src="img/pizza.jpg">
                    </div>
                </div>
                <div class="view-recipes-content flex-column gap-20">
                    <div class="recipe-title-and-favorite flex-row">
                        <h2 class="font chocolate-brown very-big bold">Pizza de Queijo</h2>
                        <div class="view-recipes-favorite">
                            <img class="icon" src="img/star-icon.png">
                        </div>
                    </div>
                    <div>
                        <img class="icon" src="img/icon-clock-green.png">
                        <span class="font green">1h30</span>
                        <img class="icon" src="img/icon-portions-green.png">
                        <span class="font green">2 porções</span>
                    </div>
                    <div>
                        <span class="small-box box-green white">Salgado</span>
                        <span class="small-box box-yellow white">Quente</span>
                        <span class="small-box box-brown white">Janta</span>
                        <span class="small-box box-macchiato white">Almoço</span>
                    </div>
                    <div class="justify font chocolate-brown">
                        descrição descrição descrição descrição descrição descrição descrição descrição descrição
                        descrição descrição descrição
                        descrição descrição descrição descrição descrição descrição descrição descrição descrição
                        descrição descrição descrição
                        descrição
                    </div>
                </div>
            </div>
            <div class="view-recipes-bottom flex-row">
                <div class="view-recipes-ingredients flex-column">
                    <div class="recipes-ingredients-title">
                        <img class="icon" src="img/icon-ingredients.png">
                        <span class="font chocolate-brown bold big">Ingredientes</span>
                    </div>
                    <div class="justify font chocolate-brown">
                        <ul>
                            <li>Ingrediente 1</li>
                            <li>Ingrediente 2</li>
                            <li>Ingrediente 3</li>
                            <li>Ingrediente 4</li>
                        </ul>
                    </div>
                </div>
                <div class="view-recipes-steps flex-column">
                    <div class="recipes-ingredients-title">
                        <img class="icon" src="img/icon-preparation.png">
                        <span class="font chocolate-brown bold big">Modo de Preparo</span>
                    </div>
                    <div class="justify font chocolate-brown">
                        <ul>
                            <li>Passo 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni odio
                                aliquid assumenda iurhtrhrytrye repudiandae dignissimos, sint, vitae obcaecati voluptate
                                corrupti quas soluta, unde eveniet excepturi debitis sed quo rerum?</li>
                            <li>Passo 2</li>
                            <li>Passo 3</li>
                            <li>Passo 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="view-recipes-button">
                <div class="edit-button">
                    <a href="../edit-recipes"><button>Editar</button></a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>